echo "# Ignore local data and models
src/bert-tiny-imdb/
train.csv
test.csv

# Ignore compiled files
__pycache__/
*.pyc

# Ignore environment and secrets
.env
wandb/

# Ignore other temp files
.DS_Store
" > .gitignore
